.project-page-info {
    width: 1400px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.project-page-info section h3 {
    margin-top: 25px;
    width: 70%;
}

.demo-github-container {
    margin-top: 50px;
}

.demo-github-container h2 {
    margin-bottom: 15px;
}
.title-description-containor {
    width: 500px;
    margin-top: 50px;
}
