.image-in-darkmode-button {
    object-fit: fill;
    border: none;
    width: 30px;
    cursor: pointer;
    height: 30px;
}
#darkmode-button {
    height: 30px;
    margin-bottom: 10px;
    border: none;
    outline: 0 !important;
    padding: 0;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0);
}
.darkmode-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-right: 8px;
}
.darkmode-button-container h3 {
    margin-top: 7px;
    margin-right: 10px;
}
.darkmode-button:focus {
    outline: 0 !important;
    border: none;
}
.darkmode-button:active {
    outline: 0 !important;
    border: none;
}
