.footer-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    z-index: 2;
    background-color: aliceblue;
    background-color: transparent;
}
.footer-container {
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer-container img:nth-child(1) {
    margin-right: 12px;
    width: 30px;
}
