:root {
    --black: #303030;
    --white: #fff;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}
body.light {
    --background-color: var(--white);
    --text-color: #303030;
}
body.dark {
    --background-color: var(--black);
    --text-color: #fff;
}
