* {
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.dark-mode {
    --background-color: #09192f;
    --background-color-secondary: #112240;
    --background-color-side-menu: #162944;
    --background-color-project-card: #162944;
    --font-color: #c2ccec;
    --font-color-title: #8892b0;
    --hover-color: #212f43;
    --secondary-color: #56bfde;
    transition: var(--background-color);
}

.light-mode {
    --background-color: #fff;
    --background-color-side-menu: #fff;
    --background-color-secondary: #fff;
    --background-color-project-card: #ebedee;
    --font-color: #333;
    --font-color-title: #777;
    --hover-color: #f4f4f4;
    --secondary-color: #007bff;
}
