@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Train+One&display=swap');
.about-me-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    font-size: 30px;
}
#greetings-container {
    height: 400px;
    width: 78%;
}

.about-me-container h1 {
    font-size: 50px;
    margin: 120px 0;
    color: rgba(0, 0, 0, 0.527);
}
.about-me-container h2 {
    font-size: 30px;
    margin: 40px 0;
    margin-bottom: 100px;
    font-family: 'New Tegomin', serif;
    letter-spacing: 3px;
}
.about-me-container p {
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'New Tegomin', serif;
}

#about-me-info {
    margin-bottom: 200px;
}
@media only screen and (min-width: 2050px) {
    #about-me-info {
        margin-top: 100px;
        margin-bottom: 500px;
    }
}
@media only screen and (max-width: 930px) {
    .about-me-info-container {
        margin-top: 120px;
    }
}
@media only screen and (max-width: 700px) {
    .about-me-info-container {
        margin-top: 150px;
    }
}
@media only screen and (max-width: 443px) {
    .about-me-container {
        margin-left: 75px;
    }

    .about-me-container h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .about-me-container h2 {
        font-size: 10px;
        width: 240px;
    }
    .about-me-container p {
        font-size: 10px;
        width: 250px;
    }
    .about-me-info-container {
        margin-top: 0px;
    }
    #greetings-container {
        height: 220px;
        width: 100%;
    }
    #greetings-container div h1 {
        width: 200px;
    }
    #about-me-info {
        margin-bottom: 100px;
    }
}
